# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

#local config deocker
docker-compose.override.yml

# Logs
logs
*.log

#base data
BASE_DATA_WAROLABS.txt

# Database schema files (for development use)
temp-db-schema.js
server/api/temp/

# Misc
.DS_Store
.fleet
.idea

# Test pages (development only)
pages/test-auth.vue

# Local env files
.env
.env.*
!.env.example

#VS CODE
.vscode
.amplify-hosting
