@tailwind base;
@tailwind components;
@tailwind utilities;


.article-style {
  @apply prose sm:prose-2xl prose-img:rounded-lg text-left leading-normal prose-h2:mt-6 sm:prose-h2:mt-16 prose-headings:text-slate-900 prose-p:text-slate-600 prose-p:text-lg sm:prose-p:text-2xl
}

.p-cards{
  @apply text-center    
  text-sm
  leading-[1.4rem]
  md:text-lg
  font-normal
  sm:w-4/5
  md:leading-[1.8rem]
  text-gray-600
}